.dashboard {
    -fx-background-color: #313131;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
    -fx-border-color: #3c97f3;
    -fx-border-width: 1;

}

.sent_title {
    -fx-font-size: 1.3em;
    -fx-text-fill: #3c97f3;
}

.transactions_title {
    -fx-font-size: 1.1em;
    -fx-text-fill: #3c97f3;
}

.success_counter {
    -fx-font-size: 1.2em;
    -fx-text-fill: lawngreen;
}

.fail_counter {
    -fx-font-size: 1.2em;
    -fx-text-fill: #ffffff;
}

.counter_container {
    -fx-background-color: #454545;
    -fx-background-radius: 20 0 20 0;
    -fx-padding: 10 0 10 0;
    -fx-alignment: center;
    -fx-spacing: 10;
    -fx-border-radius: 20 0 20 0;
    -fx-border-color: #3c97f3;
    -fx-border-width: 1;
}

.details_text_field {
    -fx-font-size: 1.0em;
    -fx-text-fill: white;
    -fx-padding: 5 5 5 15;
    -fx-spacing: 10;
}

.details_container {
    -fx-background-color: #454545;
    -fx-padding: 10 0 10 0;
    -fx-spacing: 10;
}

#left_container {
    -fx-background-radius: 20 0 0 20;}

#right_container {
    -fx-background-radius: 0 20 20 0;
}

.edit_button {
    /*-fx-background-color: linear-gradient(to right, deepskyblue, mediumslateblue);*/
    -fx-background-color: #454545;
    -fx-effect: dropshadow(three-pass-box, #FFFFFF, 1, 0, 0, 1);
    -fx-pref-width: 80;
    -fx-font-size: 0,8em;
    -fx-font-family: "Calibri Light";
    -fx-text-fill: #FFFFFF;
    -fx-border-radius: 10 10 10 10;
}

/* Transactions View */
.transactions_list_container {
    -fx-background-color: #454545;
    -fx-background-radius: 0 20 20 0;
    -fx-padding: 10 0 10 0;
    -fx-alignment: center;
    -fx-spacing: 10;
    -fx-border-radius: 0 20 20 0;
    -fx-border-color: #3c97f3;
    -fx-border-width: 1;
}

.transactions_list_container .scroll-bar:vertical {
    -fx-scale-x: 0;
}

.list-cell {
    -fx-background-color: #454545;
    -fx-padding: 10 10 10 10;
}