.transaction_container {
    -fx-background-color: #454545;
    -fx-alignment: center;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-width: 2;
    -fx-border-color: lawngreen;
}

.transaction_name {
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
}